# Datenbankverbindung
DATABASE_URL="mysql://root:PASSWORT@localhost:3306/amateurfunk_db"

# NextAuth
NEXTAUTH_SECRET="MeinUltraGeheimerString"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary
CLOUDINARY_URL="cloudinary://API_KEY:API_SECRET@CLOUD_NAME"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dein-cloud-name"

# SSO (Single Sign-On) Konfiguration
SSO_CLIENT_ID="dein-client-id"
SSO_CLIENT_SECRET="dein-client-secret"
SSO_ISSUER="https://sso.övsv.at"